{% extends 'layout.html' %}

{% block title %}Détails ateliers{% endblock %}
{% block content %}

<link href="/css/atelier_details.css" rel="stylesheet">
<link id="bsdp-css" href="/css/datepicker3.css" rel="stylesheet">
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-datepicker.fr.js"></script>
<script src="/js/atelier_details.js"></script>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/ateliers">Circuit Scientifique<!-- <img src="img/logo.png" /> --></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Accueil</a></li>
				<li class=""><a href="#">Informations Pratiques</a></li>
				<li class=""><a href="#">Demande de subvention</a></li>
				<li class=""><a href="#">Metier de la recherche</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container jumbotron well" id="details">
	<h1 class="page-header-bis">Détails ateliers</h1>
	{% for atelier in atelier_details %}
	<ul id="myTab" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Informations</a></li>
		<li role="presentation" >
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Horaires</a>
		</li>
	</ul>
	<div class="col-sm-6">
		<div id="map_canvas"></div>
	</div>
	<div class="col-sm-6">
		<div id="tab_details" class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
				<p>
					<div><strong>Nom: </strong>{{ atelier.nom }}</div>
					<div><strong>Type: </strong>{{ atelier.type }}</div>
					<div><strong>Durée: </strong><span id ="duree"></span></div>


					<div><strong>Laboratoire: </strong>{{ atelier.laboratoire }}</div>
					<div><strong>Places restantes: </strong>{{ atelier.placesRestantes }}</div>

					<span><strong>Thème(s): </strong></span>
					<ul>
						{% for theme_item in atelier.theme %}
						<li>{{ theme_item }}</li>
						{% endfor %}
					</ul>
					<span><strong>Public ciblé: </strong></span>
					<ul>
						{% for publiccible_item in atelier.publicCible %}
						<li>{{ publiccible_item }}</li>
						{% endfor %}
					</ul>
				</p>
			</div>
			<div role="tabpanel" class="tab-pane fade text-center" id="profile" aria-labelledBy="profile-tab">
				
				<p>Horaires</p>
				<div class="datepicker"></div>

				<h4><mark>De <span id="start"></span> à <span id="end"></span></mark></h4>

			</div>
		</div>
	</div>
	<div>
		<div>
			<span><strong>Partenaires: </strong></span>
			<ul>
				{% for partenaire_item in atelier.partenaire %}
				<li>{{ partenaire_item }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-12 marg-top">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Description</h3>
				</div>
				<div class="panel-body">
					{{ atelier.description }}
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var date_creneau = dateDiff("{{atelier.date}}");
		date_creneau = date_creneau.setHours(0);
		$('.datepicker').datepicker({
			language: 'fr',
			format: "dd/mm/yyyy",
			weekStart: 1,
			startDate: "+d",
			todayHighlight: true,
			beforeShowDay: function (date){
				if(date.setHours(0)  == date_creneau){
					return {
						enabled:true,
						tooltip: 'Créneau disponible',
						classes: 'active'
					};
				}
			}
		});
	</script>
	{% endfor %}
</div>



{% endblock content%}