{% extends 'layout.html' %}

{% block title %}Liste Ateliers{% endblock %}

{% block head %}
<script type="text/javascript">
  function getCookie(name){
    if(document.cookie.length == 0)
      return null;
    var regSepCookie = new RegExp('(; )', 'g');
    var cookies = document.cookie.split(regSepCookie);
    for(var i = 0; i < cookies.length; i++){
      var regInfo = new RegExp('=', 'g');
      var infos = cookies[i].split(regInfo);
      if(infos[0] == name){
        return unescape(infos[1]);

      }
    }
    return null;
  }

  $(document).ready(function() {
    $(".edit_atelier").click(function() {
      window.location.href= '/atelier/'+$(this).data("id")+'/edit';
    });
    $(".remove_atelier").click(function() {
      $.ajax({
        url: '/atelier/'+$(this).data("id"),
        type: 'DELETE',
        success: function(result) {
          if (confirm("Voulez-vous vraiment supprimer cet atelier ?")) {
            $(".atelier-container").load("/ateliers .atelier-container .content")
          }
        }
      });
    });
  });
  var map;
  var elevator;
  $(document).ready(function () {
    if (navigator.geolocation)
      var watchId = navigator.geolocation.watchPosition(successCallback,null,{enableHighAccuracy:true});
    else
      alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");   

    var myOptions = {
      zoom: 15,
      center: new google.maps.LatLng(0, 0),
      mapTypeId: 'terrain'
    };
    map = new google.maps.Map($('#map_canvas')[0], myOptions);

    //Localisation de l'utilisateur (uniquement pour l'afficher sur la carte)
    function successCallback(position){
      map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude), 
        map: map,
        icon:'/img/here.png',
        title: "Vous"
      }); 

    }


  });
</script>
<style type="text/css">
  .edit_atelier, .remove_atelier {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/ateliers">Circuit Scientifique<!-- <img src="img/logo.png" /> --></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    	<ul class="nav navbar-nav">
        <li class="active"><a href="/ateliers">Accueil</a></li>
        <li class=""><a href="#">Informations Pratiques</a></li>
        <li class=""><a href="#">Demande de subvention</a></li>
        <li class=""><a href="#">Metier de la recherche</a></li>
        <li class=""><a href="/admin">
         <script>
          if(getCookie('login') == '')
            document.write('Se deconnecter');
          else
            document.write('Se connecter');
        </script>         

      </a></li>
    </ul>
  </div>
</div>
</nav>
<div class="container">
	<div class="row" id="toolbar">
		<div class="col-md-8">
			<h1>Liste des Ateliers</h1>
		</div>
		<div class="col-md-4" id="add-atelier-button">
			<a href="/atelier/new" class="btn btn-success">Créer une fiche Atelier</a>
		</div>
	</div>
	<div class="row ">
		<div class="col-sm-6 atelier-container">
      <div class="content">
        {% for atelier in ateliers %}


        <script>
          $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address={{ atelier.lieu|url_encode }}&sensor=false', null, function (data) {
            console.log(data);
            var p = data.results[0].geometry.location
            var latlng = new google.maps.LatLng(p.lat, p.lng);
            var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              title:"Atelier",
              labelContent: "$425K",
           labelClass: "labels", // the CSS class for the label
           labelStyle: {opacity: 0.75}
         });

            var iw1 = new google.maps.InfoWindow({
             content: "{{ atelier.nom }}",
             maxWidth: 200,
             height:500
           });
            google.maps.event.addListener(marker, "click", function (e) { iw1.open(map, this); });

          });


        </script>


        <div id="{{ atelier.nom|lower|replace('\s', '-') }}" class="row item-atelier">
          <div class="col-xs-8">
           <h3><a href="/atelier/{{ atelier.id }}">{{ atelier.nom }}</a></h3>
         </div>
         <div class="col-xs-4">   
          <script>
            if(getCookie('login') == ''){
              document.write('<span data-id="{{ atelier.id }}" class="remove_atelier glyphicon glyphicon-remove-circle pull-right" style="padding-top:15px; font-size:14pt; margin-left:5px;"></span><span data-id="{{ atelier.id }}" class="edit_atelier glyphicon glyphicon-edit pull-right" style="padding-top:15px; font-size:14pt; margin-left:5px;"></span>');
            }
          </script><br />
        </script>


        <span class="clearfix"></span>
      </div>
      <div class="col-xs-6">
       <span><strong>Thème: </strong></span>
       <ul>
        {% for theme_item in atelier.theme %}
        <li>{{ theme_item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-6">
     <span><strong>Durée: </strong></span><span class="duree{{ atelier.id }}"></span><br/>
     <span><strong>Laboratoire: </strong></span>{{ atelier.laboratoire }}
   </div>
 </div>
 <div class="spacer row"><div class="mask"></div></div>
 
<script type="text/javascript">

  var dates =[];
  var dates_debut = [];
  var dates_fin = [];

{% for date in atelier.date %}

// On sépare les dates et les horaires

dates.push("{{date[0]}}".split(","));
dates_debut.push("{{date[1]}}".split(","));
dates_fin.push("{{date[2]}}".split(","));

{% endfor %}

function getDureeCreneaux(date_creneau,start,end){

    var timeStart = new Date(date_creneau+" " + start);
    var timeEnd = new Date(date_creneau+" " + end);

    // Initialisation du retour
    var tmp = timeEnd - timeStart;

    // SI le créneau termine le lendemain
    if(tmp < 0){
        timeEnd.setDate(timeEnd.getDate() + 1);
        var tmp = timeEnd - timeStart;
    }

    return tmp;
}

function affichageDuree (tmp) {

    if(tmp.length >= 0){

        var somme = 0;

        for (var i = tmp.length - 1; i >= 0; i--) {
            somme=somme+tmp[i];
        }
        tmp=somme;
    }

    var diff = {} 

    //alert(somme);
    tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
    diff.sec = tmp % 60;                    // Extraction du nombre de secondes

    tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
    diff.min = tmp % 60;                    // Extraction du nombre de minutes

    tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
    diff.hour = tmp % 24;                   // Extraction du nombre d'heures

    var hour_disp = diff.hour;
    var min_disp = diff.min;
    var et = " et ";
    if (hour_disp > 0 ) { 

        hour_disp += " heure";   
        if (diff.hour>1)
            hour_disp +="s";
    }
    else{
        hour_disp = "";
        et="";
    }

    if(diff.min > 1 )
        min_disp = et+diff.min+" minutes";
    else if(diff.min > 0 )
        min_disp = et+diff.min+" minute";
    if(diff.min <= 0)
        min_disp = '';

    $(".duree{{ atelier.id }}").html(hour_disp+ min_disp);
}

var creneau_tab = [];
var durees=[];

    //On stocke les dates des créneaux dans un tableau

    for (var i = dates.length - 1; i >= 0; i--) {

        creneau_tab.push(new Date(dates[i]));

            //Pour calculer la durée totale de l'atelier
            durees.push(getDureeCreneaux(dates[i],dates_debut[i],dates_fin[i]));
            affichageDuree(durees);

        }



</script>

 {% endfor %}
</div>
</div>
<div class="col-sm-6">
 <div id="map_canvas" class="map"></div>
</div>
</div>
</div>
{% endblock %}