  #profile{
    height: 325px;
  }

  .infos{
   height: 325px;
 }

 #details{
  max-width: 740px;
}

.page-header-bis{
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #eee;
}

#map_canvas{
  height: 300px;
  margin-top: 15px;
}


.marg-top{
  margin-top:25px;
}

.datepicker{
  margin: auto;
  width: 196px; 
}